.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 91px 58.3333333333px #eaff00, -188px -139.6666666667px #5e00ff, 109px -300.6666666667px #a600ff, -106px -381.6666666667px #ff4000, 194px -341.6666666667px fuchsia, 150px -198.6666666667px #1a00ff, 170px -64.6666666667px #00ff22, 246px -262.6666666667px #0091ff, 30px -263.6666666667px #0048ff, -101px -3.6666666667px #00fffb, 219px -56.6666666667px #c800ff, 151px 25.3333333333px #f700ff, 95px -352.6666666667px #00ffb7, 59px -213.6666666667px #ff3c00, 24px 35.3333333333px deepskyblue, 51px -55.6666666667px #1100ff, 210px -358.6666666667px #ffbf00, -151px 18.3333333333px red, -20px 62.3333333333px #00a6ff, 219px -45.6666666667px #ff002b, 231px -322.6666666667px #ff00b7, -162px -161.6666666667px #00ffd0, 110px -399.6666666667px #ffaa00, -103px -252.6666666667px #ff1500, 141px 12.3333333333px #9100ff, 200px -353.6666666667px #00ff7b, 129px 43.3333333333px #a600ff, -17px -185.6666666667px #00ff9d, -89px -305.6666666667px #ff7700, 120px -7.6666666667px #ff008c, 113px -136.6666666667px #99ff00, -163px -274.6666666667px #ff0055, 111px -10.6666666667px #00c8ff, 28px -115.6666666667px #0091ff, -234px -361.6666666667px #5500ff, 154px 15.3333333333px #1eff00, 69px -21.6666666667px #6f00ff, 92px -126.6666666667px #4dff00, 65px -324.6666666667px #f2ff00, 172px -412.6666666667px #5500ff, 45px -315.6666666667px #ff0022, -89px -158.6666666667px #00ff3c, -190px -187.6666666667px #ff0900, 187px -77.6666666667px #88ff00, -161px -102.6666666667px #00ff62, -14px -384.6666666667px #5500ff, 189px -326.6666666667px #ff0033, 192px -34.6666666667px #f7ff00, 43px -296.6666666667px #ff9d00, 228px -169.6666666667px #84ff00, 186px -407.6666666667px #ff005e;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 91px 58.3333333333px #eaff00, -188px -139.6666666667px #5e00ff, 109px -300.6666666667px #a600ff, -106px -381.6666666667px #ff4000, 194px -341.6666666667px fuchsia, 150px -198.6666666667px #1a00ff, 170px -64.6666666667px #00ff22, 246px -262.6666666667px #0091ff, 30px -263.6666666667px #0048ff, -101px -3.6666666667px #00fffb, 219px -56.6666666667px #c800ff, 151px 25.3333333333px #f700ff, 95px -352.6666666667px #00ffb7, 59px -213.6666666667px #ff3c00, 24px 35.3333333333px deepskyblue, 51px -55.6666666667px #1100ff, 210px -358.6666666667px #ffbf00, -151px 18.3333333333px red, -20px 62.3333333333px #00a6ff, 219px -45.6666666667px #ff002b, 231px -322.6666666667px #ff00b7, -162px -161.6666666667px #00ffd0, 110px -399.6666666667px #ffaa00, -103px -252.6666666667px #ff1500, 141px 12.3333333333px #9100ff, 200px -353.6666666667px #00ff7b, 129px 43.3333333333px #a600ff, -17px -185.6666666667px #00ff9d, -89px -305.6666666667px #ff7700, 120px -7.6666666667px #ff008c, 113px -136.6666666667px #99ff00, -163px -274.6666666667px #ff0055, 111px -10.6666666667px #00c8ff, 28px -115.6666666667px #0091ff, -234px -361.6666666667px #5500ff, 154px 15.3333333333px #1eff00, 69px -21.6666666667px #6f00ff, 92px -126.6666666667px #4dff00, 65px -324.6666666667px #f2ff00, 172px -412.6666666667px #5500ff, 45px -315.6666666667px #ff0022, -89px -158.6666666667px #00ff3c, -190px -187.6666666667px #ff0900, 187px -77.6666666667px #88ff00, -161px -102.6666666667px #00ff62, -14px -384.6666666667px #5500ff, 189px -326.6666666667px #ff0033, 192px -34.6666666667px #f7ff00, 43px -296.6666666667px #ff9d00, 228px -169.6666666667px #84ff00, 186px -407.6666666667px #ff005e;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 91px 58.3333333333px #eaff00, -188px -139.6666666667px #5e00ff, 109px -300.6666666667px #a600ff, -106px -381.6666666667px #ff4000, 194px -341.6666666667px fuchsia, 150px -198.6666666667px #1a00ff, 170px -64.6666666667px #00ff22, 246px -262.6666666667px #0091ff, 30px -263.6666666667px #0048ff, -101px -3.6666666667px #00fffb, 219px -56.6666666667px #c800ff, 151px 25.3333333333px #f700ff, 95px -352.6666666667px #00ffb7, 59px -213.6666666667px #ff3c00, 24px 35.3333333333px deepskyblue, 51px -55.6666666667px #1100ff, 210px -358.6666666667px #ffbf00, -151px 18.3333333333px red, -20px 62.3333333333px #00a6ff, 219px -45.6666666667px #ff002b, 231px -322.6666666667px #ff00b7, -162px -161.6666666667px #00ffd0, 110px -399.6666666667px #ffaa00, -103px -252.6666666667px #ff1500, 141px 12.3333333333px #9100ff, 200px -353.6666666667px #00ff7b, 129px 43.3333333333px #a600ff, -17px -185.6666666667px #00ff9d, -89px -305.6666666667px #ff7700, 120px -7.6666666667px #ff008c, 113px -136.6666666667px #99ff00, -163px -274.6666666667px #ff0055, 111px -10.6666666667px #00c8ff, 28px -115.6666666667px #0091ff, -234px -361.6666666667px #5500ff, 154px 15.3333333333px #1eff00, 69px -21.6666666667px #6f00ff, 92px -126.6666666667px #4dff00, 65px -324.6666666667px #f2ff00, 172px -412.6666666667px #5500ff, 45px -315.6666666667px #ff0022, -89px -158.6666666667px #00ff3c, -190px -187.6666666667px #ff0900, 187px -77.6666666667px #88ff00, -161px -102.6666666667px #00ff62, -14px -384.6666666667px #5500ff, 189px -326.6666666667px #ff0033, 192px -34.6666666667px #f7ff00, 43px -296.6666666667px #ff9d00, 228px -169.6666666667px #84ff00, 186px -407.6666666667px #ff005e;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 91px 58.3333333333px #eaff00, -188px -139.6666666667px #5e00ff, 109px -300.6666666667px #a600ff, -106px -381.6666666667px #ff4000, 194px -341.6666666667px fuchsia, 150px -198.6666666667px #1a00ff, 170px -64.6666666667px #00ff22, 246px -262.6666666667px #0091ff, 30px -263.6666666667px #0048ff, -101px -3.6666666667px #00fffb, 219px -56.6666666667px #c800ff, 151px 25.3333333333px #f700ff, 95px -352.6666666667px #00ffb7, 59px -213.6666666667px #ff3c00, 24px 35.3333333333px deepskyblue, 51px -55.6666666667px #1100ff, 210px -358.6666666667px #ffbf00, -151px 18.3333333333px red, -20px 62.3333333333px #00a6ff, 219px -45.6666666667px #ff002b, 231px -322.6666666667px #ff00b7, -162px -161.6666666667px #00ffd0, 110px -399.6666666667px #ffaa00, -103px -252.6666666667px #ff1500, 141px 12.3333333333px #9100ff, 200px -353.6666666667px #00ff7b, 129px 43.3333333333px #a600ff, -17px -185.6666666667px #00ff9d, -89px -305.6666666667px #ff7700, 120px -7.6666666667px #ff008c, 113px -136.6666666667px #99ff00, -163px -274.6666666667px #ff0055, 111px -10.6666666667px #00c8ff, 28px -115.6666666667px #0091ff, -234px -361.6666666667px #5500ff, 154px 15.3333333333px #1eff00, 69px -21.6666666667px #6f00ff, 92px -126.6666666667px #4dff00, 65px -324.6666666667px #f2ff00, 172px -412.6666666667px #5500ff, 45px -315.6666666667px #ff0022, -89px -158.6666666667px #00ff3c, -190px -187.6666666667px #ff0900, 187px -77.6666666667px #88ff00, -161px -102.6666666667px #00ff62, -14px -384.6666666667px #5500ff, 189px -326.6666666667px #ff0033, 192px -34.6666666667px #f7ff00, 43px -296.6666666667px #ff9d00, 228px -169.6666666667px #84ff00, 186px -407.6666666667px #ff005e;
  }
}
@keyframes bang {
  to {
    box-shadow: 91px 58.3333333333px #eaff00, -188px -139.6666666667px #5e00ff, 109px -300.6666666667px #a600ff, -106px -381.6666666667px #ff4000, 194px -341.6666666667px fuchsia, 150px -198.6666666667px #1a00ff, 170px -64.6666666667px #00ff22, 246px -262.6666666667px #0091ff, 30px -263.6666666667px #0048ff, -101px -3.6666666667px #00fffb, 219px -56.6666666667px #c800ff, 151px 25.3333333333px #f700ff, 95px -352.6666666667px #00ffb7, 59px -213.6666666667px #ff3c00, 24px 35.3333333333px deepskyblue, 51px -55.6666666667px #1100ff, 210px -358.6666666667px #ffbf00, -151px 18.3333333333px red, -20px 62.3333333333px #00a6ff, 219px -45.6666666667px #ff002b, 231px -322.6666666667px #ff00b7, -162px -161.6666666667px #00ffd0, 110px -399.6666666667px #ffaa00, -103px -252.6666666667px #ff1500, 141px 12.3333333333px #9100ff, 200px -353.6666666667px #00ff7b, 129px 43.3333333333px #a600ff, -17px -185.6666666667px #00ff9d, -89px -305.6666666667px #ff7700, 120px -7.6666666667px #ff008c, 113px -136.6666666667px #99ff00, -163px -274.6666666667px #ff0055, 111px -10.6666666667px #00c8ff, 28px -115.6666666667px #0091ff, -234px -361.6666666667px #5500ff, 154px 15.3333333333px #1eff00, 69px -21.6666666667px #6f00ff, 92px -126.6666666667px #4dff00, 65px -324.6666666667px #f2ff00, 172px -412.6666666667px #5500ff, 45px -315.6666666667px #ff0022, -89px -158.6666666667px #00ff3c, -190px -187.6666666667px #ff0900, 187px -77.6666666667px #88ff00, -161px -102.6666666667px #00ff62, -14px -384.6666666667px #5500ff, 189px -326.6666666667px #ff0033, 192px -34.6666666667px #f7ff00, 43px -296.6666666667px #ff9d00, 228px -169.6666666667px #84ff00, 186px -407.6666666667px #ff005e;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}